body {
    background: lightgray;
}

.dk-node-box {
    border: 1px solid black;
    margin: 0.2em;
}

.dk-pod-box {
    font-size: smaller;
    border: 1px solid black;
    padding: 0.2em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-bottom: 0.2em;
}

.dk-pod-header {
    padding: 0.2em;
}

.dk-pod-box .row {
    margin: 0;
}

.dk-pod-box a {
    text-decoration: none;
    color: white;
}

.dk-node-header {
    font-size: small;
    padding: 0.3em;
}

.dk-cluster-box {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin-bottom: 0;
}

.dk-cluster-header {
    border: 1px solid black;
    display: block;
    font-size: large;
    margin-bottom: 0.1em;
}

.dk-env-box{
    padding-left: 0;
}

#dk-content .col-xs-3 {
    padding-right: 5px;
    padding-left: 5px;

}

/*  pod */
.dk-state-ok {
    background-color: #5cb85c;
    color: white;
}

.dk-state-unhealthy {
    background-color: yellow;
    color: black;
}

.dk-state-error {
    background-color: #d9534f;
    color: white;
}

.dk-state-starting {
    background-color: #f5fffa;
    color: black;
}

.dk-state-stopping {
    background-color: mistyrose;
    color: black;
}

.dk-rc {
    float: left;
    margin-bottom: 0.1em;
    white-space: normal;
    font-weight: normal;
    width: 100%;
    overflow: hidden;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.pulsating {
    -webkit-animation: fadeInOut 2s infinite;
    animation: fadeInOut 2s infinite;
}

@-webkit-keyframes fadeInOut {
    from {
        opacity: 0.2;
    }
    50% {
        opacity: 1.0;
    }
    to {
        opacity: 0.2;
    }
}